@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");
.section-photography-bg, .section-graphic-design-bg {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Fraunces", serif;
  font-size: 18px;
}

.header-bg {
  position: relative;
  min-height: 500px;
}
.header-bg:before {
  content: "";
  position: absolute;
  width: 100%;
  min-height: 100%;
  background: no-repeat center/100% auto url("../public/header/image-header.jpg");
  z-index: -1;
}
.header-bg .header {
  padding: 1.35rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header-bg .header-nav {
  background-color: hsl(0, 0%, 100%);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%) scale(1, 0);
  width: 90%;
  padding: 2rem;
  padding-top: 3rem;
  text-align: center;
  transform-origin: top;
  transition: transform 400ms ease-in-out;
  clip-path: polygon(0% 9.75%, 94.75% 10%, 100% 0%, 100% 100%, 0% 100%);
  z-index: 1;
}
.header-bg .header-nav-show {
  transform: translateX(-50%) scale(1, 1);
}
.header-bg .header a {
  text-decoration: none;
  color: hsl(232, 10%, 55%);
  font-family: "Barlow", sans-serif;
  display: block;
  margin-bottom: 1.5rem;
}
.header-bg .header a:last-of-type {
  margin-bottom: 0;
  font-family: "Fraunces", serif;
  color: hsl(212, 27%, 19%);
  background: hsl(51, 100%, 49%);
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2rem;
  text-transform: uppercase;
}
.header-bg .hero {
  text-align: center;
}
.header-bg .text-header {
  font-size: 2.5rem;
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin: 2.5rem 0;
}

.img-section-content {
  width: 100%;
  display: block;
}

.section-intro {
  padding: 3.5rem 1rem;
  text-align: center;
}
.section-intro-sub-headers {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 1rem;
  color: hsl(212, 27%, 19%);
}
.section-intro-text-content {
  color: hsl(213, 9%, 39%);
  font-family: "Barlow", sans-serif;
  line-height: 1.5;
  margin-bottom: 1rem;
}
.section-intro .yellow-learn-more {
  text-transform: uppercase;
  position: relative;
}
.section-intro .yellow-learn-more:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0;
  transform: skew(-12deg);
  background: hsl(51, 100%, 49%);
  z-index: -1;
  opacity: 0.5;
  transition: all 400ms ease;
}
.section-intro .yellow-learn-more:hover:before {
  height: 10px;
  opacity: 1;
}
.section-intro .yellow-learn-more:hover {
  cursor: pointer;
}
.section-intro .red-learn-more {
  text-transform: uppercase;
  position: relative;
}
.section-intro .red-learn-more:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0;
  transform: skew(-12deg);
  background: hsl(7, 99%, 70%);
  z-index: -1;
  opacity: 0.5;
  transition: all 400ms ease;
}
.section-intro .red-learn-more:hover:before {
  height: 10px;
  opacity: 1;
}
.section-intro .red-learn-more:hover {
  cursor: pointer;
}

.section-graphic-design-bg {
  position: relative;
  min-height: 600px;
}
.section-graphic-design-bg:before {
  content: "";
  position: absolute;
  width: 100%;
  min-height: 100%;
  background: no-repeat center/100% auto url("../public/image-graphic-design.jpg");
  z-index: -1;
}
.section-graphic-design-bg .section-graphic-design {
  padding: 2rem 1rem;
  text-align: center;
}
.section-graphic-design-bg .section-graphic-design-sub-headers {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 1rem;
  color: hsl(167, 40%, 24%);
}
.section-graphic-design-bg .section-graphic-design-text-content {
  color: hsl(167, 40%, 24%);
  font-family: "Barlow", sans-serif;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.section-photography-bg {
  position: relative;
  min-height: 600px;
}
.section-photography-bg:before {
  content: "";
  position: absolute;
  width: 100%;
  min-height: 100%;
  background: no-repeat center/100% auto url("../public/image-photography.jpg");
  z-index: -1;
}
.section-photography-bg .section-photography {
  padding: 2rem 1rem;
  text-align: center;
}
.section-photography-bg .section-photography-sub-headers {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 1rem;
  color: hsl(198, 62%, 26%);
}
.section-photography-bg .section-photography-text-content {
  color: hsl(198, 62%, 26%);
  font-family: "Barlow", sans-serif;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.testimonials {
  padding: 2rem;
  text-align: center;
}
.testimonials-header {
  text-transform: uppercase;
  color: hsl(232, 10%, 55%);
  letter-spacing: 0.25rem;
  margin-bottom: 2rem;
}
.testimonials-item {
  padding: 2.5rem 0;
}
.testimonials-image {
  border-radius: 50%;
  max-width: 75px;
}
.testimonials-text {
  line-height: 1.75;
  margin: 1.5rem 0;
  font-family: "Barlow", sans-serif;
  color: hsl(213, 9%, 39%);
}
.testimonials .name {
  color: hsl(212, 27%, 19%);
  margin-bottom: 0.5rem;
}
.testimonials .title {
  font-size: 0.9rem;
  color: hsl(232, 10%, 55%);
  font-family: "Barlow", sans-serif;
}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.image-gallery-item {
  width: 100%;
}

.footer {
  background-color: hsl(168, 47%, 59%);
  padding: 3rem;
  text-align: center;
  font-family: "Barlow", sans-serif;
}
.footer svg {
  color: hsl(167, 40%, 24%);
}
.footer-menu, .footer-social-media {
  display: flex;
  justify-content: center;
  column-gap: 2.5rem;
  margin: 2rem 0;
  color: hsl(167, 40%, 24%);
}
.footer-menu p,
.footer-menu svg, .footer-social-media p,
.footer-social-media svg {
  transition: color 400ms ease;
}
.footer-menu svg, .footer-social-media svg {
  color: #2C7566;
}
.footer-menu svg:hover,
.footer-menu p:hover, .footer-social-media svg:hover,
.footer-social-media p:hover {
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}

@media (min-width: 1024px) {
  .header-bg {
    position: relative;
    min-height: 700px;
  }
  .header-bg:before {
    content: "";
    position: absolute;
    width: 100%;
    min-height: 100%;
    background: no-repeat center/100% auto url("../public/desktop/image-header.jpg");
    z-index: -1;
  }
  .header-bg .header .hamburger-menu {
    display: none;
  }
  .header-bg .header-nav {
    transform: scale(1, 1);
    background-color: unset;
    position: relative;
    top: initial;
    left: initial;
    padding: 0;
    clip-path: none;
    width: auto;
  }
  .header-bg .header a {
    display: inline;
    margin-bottom: 0;
    color: hsl(0, 0%, 100%);
    margin-right: 2rem;
    transition: all 400ms;
  }
  .header-bg .header a:last-of-type {
    margin-bottom: 0;
    color: hsl(212, 27%, 19%);
    background: hsl(0, 0%, 100%);
  }
  .header-bg .header a:last-of-type:hover {
    background-color: #6fd0fa;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
  }
  .intro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .intro .img-order {
    order: 1;
  }
  .intro .section-intro {
    padding: 2rem 6rem;
    text-align: left;
  }
  .intro .section-intro-sub-headers {
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 1rem;
    color: hsl(212, 27%, 19%);
  }
  .intro .section-intro-text-content {
    color: hsl(213, 9%, 39%);
    font-family: "Barlow", sans-serif;
    line-height: 1.5;
    margin-bottom: 1rem;
  }
  .section-graphic-design-bg {
    position: relative;
    min-height: 480px;
  }
  .section-graphic-design-bg:before {
    content: "";
    position: absolute;
    width: 100%;
    min-height: 100%;
    background: no-repeat center/100% auto url("../public/desktop/image-graphic-design.jpg");
    z-index: -1;
  }
  .section-graphic-design-bg .section-graphic-design {
    padding: 1rem 4rem;
    text-align: center;
  }
  .section-graphic-design-bg .section-graphic-design-sub-headers {
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 1rem;
    color: hsl(167, 40%, 24%);
  }
  .section-graphic-design-bg .section-graphic-design-text-content {
    color: hsl(167, 40%, 24%);
    font-family: "Barlow", sans-serif;
    line-height: 1.5;
    margin-bottom: 1rem;
  }
  .section-photography-bg {
    position: relative;
    min-height: 480px;
  }
  .section-photography-bg:before {
    content: "";
    position: absolute;
    width: 100%;
    min-height: 100%;
    background: no-repeat center/100% auto url("../public/desktop/image-photography.jpg");
    z-index: -1;
  }
  .section-photography-bg .section-photography {
    padding: 1rem 4rem;
    text-align: center;
  }
  .section-photography-bg .section-photography-sub-headers {
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 1rem;
    color: hsl(198, 62%, 26%);
  }
  .section-photography-bg .section-photography-text-content {
    color: hsl(198, 62%, 26%);
    font-family: "Barlow", sans-serif;
    line-height: 1.5;
    margin-bottom: 1rem;
  }
  .testimonials {
    padding: 4rem 2rem;
  }
  .testimonials-item {
    max-width: 400px;
    padding: 0 2rem;
  }
  .testimonials-flex {
    display: flex;
    justify-content: center;
  }
}
