@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

:root {
    --primary-color: #242A45;
    --btn-bg-primary-color: #5267DF;
    --btn-bg-secondary-color: #FA5959;
    --text-content-color: #979797;
    --white: #FFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
    display: inline-block;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--white);
}

.padding-x-align {
    padding-left: 10rem;
    padding-right: 8rem;
}

.padding-y {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* BUTTONS */
button {
    border: 2px solid transparent;
    cursor: pointer;
}

button:not(.btn-tab, .btn-accordion, .btn-hamburger-menu) {
    transition: all 50ms linear;
    padding: .75rem 1.75rem;
    border-radius: 5px;
    box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, .2);
}

.btn-red {
    background: var(--btn-bg-secondary-color);
    color: var(--white);
}

nav .btn-red {
    text-transform: uppercase;
}

.btn-blue {
    background: var(--btn-bg-primary-color);
    color: var(--white);
    font-weight: 500;
}

.btn-firefox-hero {
    color: var(--primary-color);
    background: #F7F7F7;
    font-weight: 500;
}

.btn-extension {
    display: block;
    margin: 1rem auto 0;
}

.btn-faqs {
    display: block;
    margin: 2rem auto 0;
}

.btn-accordion {
    padding: 1rem 0;
    background: none;
    width: 100%;
    position: relative;
    text-align: left;
    font-size: 1rem;
    color: var(--primary-color);
}

.btn-red:after {
    display: block;
    content: attr(data-title);
    font-weight: 500;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.btn-accordion:after {
    content: url("./images/icon-arrow.svg");
    position: absolute;
    right: 0;
    transition: all 100ms linear;
}

.btn-accordion.active:after {
    transform: rotate(180deg);
    filter: invert(48%) sepia(53%) saturate(3879%) hue-rotate(330deg) brightness(105%) contrast(99%);
}

/* HEADERS */
.header-subcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.btn-hamburger-menu,
.social-media-menu {
    display: none;
}

ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    text-transform: uppercase;
    font-size: .85rem;
}

ul a {
    color: var(--primary-color);
}

/* SHARED */

h1,
h2,
h3,
p {
    color: var(--primary-color);
}

.hero p,
.tabcontent-text p,
.features p,
.extensions p,
.browser-item p,
.faqs p {
    opacity: .5;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1.5;
    max-inline-size: 480px;
}

.features p:not(.tabcontent p),
.extensions p:not(.browsers p),
.faqs p:not(.accordions p) {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-size: 2rem;
    text-align: center;
}

.subscribe h2 {
    max-inline-size: 400px;
    line-height: 1.5;
}

/* HERO */
.hero {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(365px, 1fr));
    align-items: center;
    justify-items: center;
    background: no-repeat url("./images/bg-shape.png");
    background-size: 35%;
    background-position: bottom right;
}

.hero h1 {
    font-size: 2.75rem;
    line-height: 1.25;
}

/* FEATURES */
.features {
    margin-top: 2rem;
    background: no-repeat url("./images/bg-shape-invert.png");
    background-size: 35%;
    background-position: bottom left;
}

.features-tabs {
    text-align: center;
    max-width: fit-content;
    margin: 0 auto;
    border-bottom: 1px solid var(--primary-color);
}

.features-tabs div {
    display: inline-block;

}

.features-tabs .btn-tab {
    border: none;
    background: transparent;
    color: var(--primary-color);
    cursor: pointer;
    padding: 1rem 3rem;
}

.features-tabs .btn-tab.is-active {
    border-bottom: 5px solid var(--btn-bg-secondary-color);
    font-weight: 500;
}

.tabcontent {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    gap: 6rem;
    color: var(--primary-color);
}

.tabcontent-text h3 {
    font-size: 1.75rem;
}

.tabcontent-text,
.tabcontent img {
    flex: 1;
}

/* EXTENSIONS */
.browsers {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.browser-item {
    position: relative;
    text-align: center;
    padding: 1.5rem;
    border-radius: 15px;
    box-shadow: 0px 10px 20px -5px rgba(73, 93, 207, .2);
}

.browser-item:nth-child(2) {
    top: 50px;
}

.browser-item:nth-child(3) {
    top: 100px;
}

.browser-item h3 {
    margin: 1rem 0;
}

.faqs {
    padding: 10rem 0;
}

.accordions {
    max-width: 500px;
    margin: 0 auto;
}

.hr {
    border-top: 1px solid #242A4526;
    border-bottom: 1px solid #242A4526;
}

/* SUBSCRIBE */
.subscribe {
    background: var(--btn-bg-primary-color);
    text-align: center;
    padding: 5rem 0;
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.subscribe h4 {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.email-input {
    display: inline-block;
    margin-right: .5rem;
    min-height: 60px;
    border: 3px solid transparent;
}

.subscribe input {
    padding: .75rem 1.25rem;
    outline: none;
    border-radius: 5px;
    border: none;
    min-width: 300px;
    position: relative;
}

.subscribe .email-input.error {
    border: 3px solid var(--btn-bg-secondary-color);
    background: var(--btn-bg-secondary-color);
    border-radius: 5px;
    position: relative;
}

.subscribe .email-input.error:before {
    content: url("./images/icon-error.svg");
    display: inline-block;
    position: absolute;
    top: .5rem;
    right: .5rem;
    z-index: 1;
}

.subscribe .email-input.error:after {
    content: "Whoops, make sure it's an email";
    display: inline-block;
    font-size: .75rem;
    position: absolute;
    background: var(--btn-bg-secondary-color);
    text-align: left;
    font-style: italic;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* FOOTER */

footer {
    background: var(--primary-color);
    color: var(--white);
    display: flex;
    justify-content: space-between;
}

footer div {
    display: flex;
    align-items: center;
    gap: 2rem;
}

footer .footer-logo {
    filter: invert(100%) sepia(0%) saturate(7499%) hue-rotate(198deg) brightness(121%) contrast(101%);
}

@media (min-width: 480px) {
    a:hover {
        color: var(--btn-bg-secondary-color);
    }

    .features-tabs .btn-tab:hover {
        color: var(--btn-bg-secondary-color);
    }

    .btn-blue:hover {
        background: var(--white);
        color: var(--btn-bg-primary-color);
        border: 2px solid var(--btn-bg-primary-color);
    }

    .btn-red:hover {
        background: var(--white);
        color: var(--btn-bg-secondary-color);
        border: 2px solid var(--btn-bg-secondary-color);
        font-weight: 500;
    }

    .btn-firefox-hero:hover {
        background: var(--white);
        border: 2px solid var(--primary-color);
    }

    .btn-accordion:hover {
        color: var(--btn-bg-secondary-color);
    }

    footer .footer-social-media img:hover {
        cursor: pointer;
        filter: invert(56%) sepia(35%) saturate(3578%) hue-rotate(325deg) brightness(100%) contrast(97%);
    }
}

@media (max-width: 768px) {
    html {
        font-size: 14px;
    }

    .header,
    .hero,
    .features,
    .extensions,
    .subscribe,
    .footer {
        padding: 1.5rem;
    }

    .features-tabs {
        border-bottom: none;
    }

    .features-tabs div {
        width: 100%;
        border-top: 1px solid rgba(73, 93, 207, .2);
        border-bottom: 1px solid rgba(73, 93, 207, .2);
    }

    .browsers {
        flex-direction: column;
        align-items: center;
    }

    /* Hamburger Menu */

    .btn-hamburger-menu {
        display: block;
        background: none;
    }

    .header.is-active {
        padding: 0;
        height: 73px;
    }

    .header.is-active .header-subcontainer {
        padding: 1.5rem;
        align-items: start;
        background-color: var(--primary-color);
        position: absolute;
        opacity: .95;
        height: 100%;
        width: 100%;
        z-index: 1;
        backdrop-filter: blur(16.3px);
    }

    .header.is-active img.logo-white {
        filter: invert(100%) sepia(0%) saturate(7499%) hue-rotate(198deg) brightness(121%) contrast(101%);
    }

    nav {
        display: none;
        transform: scale(1, 0) translateX(-50%);
        position: absolute;
        left: 50%;
        margin-top: 1rem;
        min-width: 100%;
        height: 80%;
    }

    .btn-hamburger-menu.is-active+nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        transform: scale(1, 1) translateX(-50%);
        top: 10%;
        color: var(--white);
    }

    ul {
        flex-direction: column;
        font-size: 1.25rem;
        letter-spacing: 2.3px;
        min-width: 100%;
        padding: 1rem;
        text-align: center;
        gap: 0;
    }

    ul li {
        padding: 1rem 0;
        border-top: 1px solid #FFFFFF20;
        min-width: 100%;
    }

    ul a {
        color: var(--white);
    }

    ul li:nth-child(3) {
        border-bottom: 1px solid #FFFFFF20;
    }

    ul li:last-child {
        margin-top: 1rem;
        border-top: 0;
    }

    ul .btn-red {
        background-color: transparent;
        border: 1px solid #fff;
        display: inline-block;
        width: 100%;
        font-size: inherit;
        letter-spacing: inherit;
    }

    .social-media-menu {
        display: flex;
        gap: 1.5rem;
    }
}

@media (max-width: 1018px) {
    /* HERO */

    .hero {
        background-position: top 30% right;
        background-size: 60%;
    }

    .hero>div {
        margin-top: 1.5rem;
        order: 2;
        text-align: center;
    }

    .hero>div p {
        max-inline-size: unset;
    }

    .hero img {
        order: 1;
    }


    /* FEATURES */
    .features {
        background-position: bottom 35% left;
        background-size: 75%;
    }

    .tabcontent {
        flex-direction: column;
        padding: 2rem 0;
        text-align: center;
    }

    /* FAQS */
    .faqs {
        padding: 10rem 2rem;
    }

    /* SUBSCRIBE */
    .subscribe .email-input {
        margin-right: 0;
        margin-bottom: .25rem;
    }

    .subscribe button {
        min-width: 300px;
    }

    /* FOOTER */
    .footer {
        align-items: center;
        gap: 3rem;
    }

    .footer,
    footer div:first-child {
        flex-direction: column;
    }

}