@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

:root {
    --primary-color: #242A45;
    --btn-bg-color: #FA5959;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

html,
body {
    height: 100%;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

a:hover {
    color: var(--btn-bg-color);
}

a.btn-red {
    background: var(--btn-bg-color);
    padding: .75rem 1.75rem;
    border-radius: 5px;
    color: #fff;
    box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, .2);
}

a.btn-red:hover {
    background: #fff;
    color: var(--btn-bg-color);
    border: 1px solid var(--btn-bg-color);
}

.header {
    padding: 2rem 8rem;
}

.header-subcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.hamburger-menu {
    display: none;
}

.hamburger-menu span {
    display: block;
    height: 2px;
    width: 1rem;
    background-color: var(--primary-color);
}

.hamburger-menu span:first-child {
    margin-bottom: .15rem;
}

.hamburger-menu span:nth-child(2) {
    margin-bottom: .15rem;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;
    text-transform: uppercase;
    font-size: .85rem;
}

.social-media-container {
    display: none;
}

ul a {
    color: var(--primary-color);
}

/* HERO */
section.hero {
    padding: 2rem 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
}

div.hero-description {
    max-width: 500px;
}

section.hero h1 {
    font-size: 2.75rem;
    line-height: 1.35;
}

section.hero p {
    opacity: .5;
    margin: 1rem 0;
    line-height: 1.75;
}

button.btn-hero {
    color: inherit;
    padding: .65rem 1.5rem;
    border: none;
    cursor: pointer;
    box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, .20);
    border-radius: 5px;
    font-weight: 500;
    border: 2px solid transparent;
}

button.btn-chrome-hero {
    background: #5267DF;
    color: #fff;
}

button.btn-chrome-hero:hover {
    background: #fff;
    color: #5267DF;
    border: 2px solid #5267DF;
}

button.btn-firefox-hero {
    background: #F7F7F7;
}

button.btn-firefox-hero:hover {
    background: #fff;
    border: 2px solid #5B6074;
}

/* FEATURES */

section.features {
    padding: 3rem 0;
}

div.features-description {
    margin: 0 auto;
    text-align: center;
    max-width: 500px;
}

div.features-description h2 {
    color: var(--primary-color);
    font-size: 2rem;
}

div.features-description p {
    opacity: .5;
    margin: 1rem 0;
}

div.features-tabs {
    text-align: center;
}

div.features-tabs div {
    display: inline-block;
}

div.features-tabs button.btn-tablinks {
    border: none;
    background: transparent;
    color: var(--primary-color);
    cursor: pointer;
    padding: 1rem 3rem;
}

div.features-tabs button.btn-tablinks:hover {
    color: var(--btn-bg-color);
}

div.features-tabs button.btn-tablinks.is-active {
    border-bottom: 5px solid #FA5959;
    font-weight: 500;
}

div.tabcontent {
    padding: 2rem 8rem;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    color: var(--primary-color);
    display: none;
}

div.tabcontent-text {
    max-width: 500px;
}

div.tabcontent-text h3 {
    font-size: 1.75rem;
}

div.tabcontent-text p {
    line-height: 1.5;
    margin: 1rem 0;
    opacity: .5;
}

div.tabcontent-text button {
    background: #5267DF;
    border: none;
    padding: .5rem 1.5rem;
    color: #FFF;
    border-radius: 5px;
    cursor: pointer;
}

/* EXTENSIONS */

div.extensions-description {
    margin: 0 auto;
    text-align: center;
    max-width: 500px;
}

div.extensions-description h2 {
    color: var(--primary-color);
    font-size: 2rem;
}

div.extensions-description p {
    opacity: .5;
    margin: 1rem 0;
}

div.browsers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

div.browser-item {
    text-align: center;
    padding: 1.5rem;
    border-radius: 15px;
    box-shadow: 0px 10px 20px -5px rgba(73, 93, 207, .2);
}

div.browser-item:nth-child(2) {
    position: relative;
    top: 50px;
}

div.browser-item:nth-child(3) {
    position: relative;
    top: 100px;
}

div.browser-item h3 {
    margin: 1rem 0;
}

div.browser-item p {
    opacity: .5;
    margin: 1rem 0;
}

div.browser-item button {
    display: block;
    margin: 1rem auto 0;
    background: #5267DF;
    border: none;
    padding: 1rem;
    color: #FFF;
    border-radius: 5px;
    cursor: pointer;
}

section.faqs {
    padding: 10rem 0;
}

div.faqs-description {
    margin: 0 auto;
    text-align: center;
    max-width: 540px;
}

div.faqs-description h2 {
    color: var(--primary-color);
    font-size: 2rem;
}

div.faqs-description p {
    opacity: .5;
    margin: 1rem 0;
}

div.accordions {
    max-width: 490px;
    margin: 2rem auto 0;
}

div.hr {
    padding: 1rem 0;
    border-top: 1px solid #242A4526;
    border-bottom: 1px solid #242A4526;
}

button.btn-accordion {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    width: 100%;
    position: relative;
    text-align: left;
    font-size: 1rem;
    color: var(--primary-color);
}

button.btn-accordion:after {
    content: url("./images/icon-arrow.svg");
    position: absolute;
    right: 0;
}

button.btn-accordion.active:after {
    transform: rotate(180deg);
    filter: invert(48%) sepia(53%) saturate(3879%) hue-rotate(330deg) brightness(105%) contrast(99%);
}

button.btn-accordion:hover {
    color: var(--btn-bg-color);
}

p.content-accordion {
    display: none;
    overflow: hidden;
    margin-top: 1rem;
    line-height: 2;
    color: var(--primary-color);
    opacity: .75;
}

section.faqs>button {
    display: block;
    background: #5267DF;
    border: none;
    padding: 1rem 1.5rem;
    color: #FFF;
    border-radius: 5px;
    cursor: pointer;
    margin: 2rem auto 0;
}

/* SUBSCRIBE */

section.subscribe {
    width: 100%;
    background: #5267DF;
    text-align: center;
    padding: 5rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

section.subscribe p {
    font-weight: 500;
    line-height: 2;
    text-transform: uppercase;
    letter-spacing: 5px;
}

section.subscribe h2 {
    line-height: 1.5;
    font-size: 2rem;
    max-width: 400px;
}

section.subscribe button {
    padding: .75rem 1.5rem;
    outline: none;
    border-radius: 5px;
    border: 2px solid transparent;
    background: var(--btn-bg-color);
    color: #fff;
    cursor: pointer;
}

section.subscribe button:hover {
    border: 2px solid #FA5959;
    background: #fff;
    color: #FA5959;
    font-weight: 500;
}


div.email-container {
    display: inline-block;
    margin-right: .5rem;
    min-height: 60px;
}

section.subscribe input {
    padding: .75rem 1.25rem;
    outline: none;
    border-radius: 5px;
    border: none;
    min-width: 300px;
    position: relative;
}

section.subscribe div.email-container.error {
    border: 3px solid #FA5959;
    background: #FA5959;
    border-radius: 5px;
    position: relative;
}

span.error-message,
div.email-container img {
    display: none;
}

section.subscribe div.email-container.error:after {
    content: "Whoops, make sure it's an email";
    display: inline-block;
    font-size: .75rem;
    position: absolute;
    background: #FA5959;
    text-align: left;
    font-style: italic;
    bottom: 0;
    left: 0;
    width: 100%;
}

section.subscribe div.email-container.error img {
    display: inline-block;
    position: absolute;
    right: .5rem;
    top: .5rem;
}

/* FOOTER */

footer {
    background: var(--primary-color);
    color: #fff;
    padding: 2rem 5rem;
    display: flex;
    justify-content: space-between;
}

footer div {
    display: flex;
    align-items: center;
    gap: 2rem;
}

footer img.footer-logo {
    filter: invert(100%) sepia(0%) saturate(7499%) hue-rotate(198deg) brightness(121%) contrast(101%);
}

footer div a {
    color: var(--primary-color);
}

footer div.footer-social-media img:hover {
    cursor: pointer;
    filter: invert(56%) sepia(35%) saturate(3578%) hue-rotate(325deg) brightness(100%) contrast(97%);
}

@media (max-width: 1023px) {
    .hamburger-menu {
        display: block;
    }

    .hamburger-menu.is-active span {
        background-color: #fff;
        margin-bottom: 0;
    }

    .hamburger-menu.is-active span:first-child {
        position: relative;
        top: 1px;
        transform: rotate(45deg);
    }

    .hamburger-menu.is-active span:nth-child(2) {
        position: absolute;
        display: none;
    }

    .hamburger-menu.is-active span:nth-child(3) {
        position: relative;
        bottom: 1px;
        transform: rotate(-45deg);
    }

    .header {
        padding: 1.5rem;
    }

    .header.is-active {
        padding: 0;
        height: 73px;
    }

    .header.is-active .header-subcontainer {
        padding: 1.5rem;
        align-items: start;
        background-color: var(--primary-color);
        position: absolute;
        opacity: .95;
        height: 100%;
        width: 100%;
        z-index: 1;
        backdrop-filter: blur(16.3px);
    }

    .header.is-active img.logo-white {
        filter: invert(100%) sepia(0%) saturate(7499%) hue-rotate(198deg) brightness(121%) contrast(101%);
    }

    nav {
        display: none;
        transform: scale(1, 0) translateX(-50%);
        position: absolute;
        left: 50%;
        margin-top: 1rem;
        min-width: 100%;
        height: 80%;
    }

    .hamburger-menu.is-active+nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        transform: scale(1, 1) translateX(-50%);
        top: 10%;
        color: #fff;
    }

    ul {
        flex-direction: column;
        font-size: 1.25rem;
        letter-spacing: 2.3px;
        min-width: 100%;
        padding: 1rem;
        text-align: center;
        gap: 0;
    }

    ul li {
        padding: 1rem 0;
        border-top: 1px solid #FFFFFF20;
        min-width: 100%;
    }

    ul li:nth-child(3) {
        border-bottom: 1px solid #FFFFFF20;
    }

    ul li:last-child {
        margin-top: 1rem;
        border-top: 0;
    }

    a.btn-red {
        background-color: transparent;
        border: 1px solid #fff;
        display: inline-block;
        width: 100%;
    }

    div.social-media-container {
        display: flex;
        gap: 1.5rem;
    }

    /* HERO */
    section.hero {
        flex-wrap: wrap;
        padding: 2rem;
    }

    section.hero div.hero-description {
        order: 2;
        text-align: center;
    }

    section.hero h1 {
        font-size: 1.75rem;
    }

    section.hero img {
        order: 1;
    }

    div.btn-hero-container {
        display: flex;
        align-items: center;
        gap: .5rem;
        font-size: .85rem;
    }

    button.btn-hero {
        padding: .55rem 1rem;
    }

    /* FEATURES */

    div.features-tabs {
        padding: 0 1rem;
    }

    div.features-tabs div {
        width: 100%;
        border-top: 1px solid rgba(73, 93, 207, .2);
        border-bottom: 1px solid rgba(73, 93, 207, .2);
    }

    div.features-description p {
        margin: 1rem;
    }

    div.tabcontent {
        flex-direction: column;
        padding: 2rem;
        text-align: center;
    }

    div.tabcontent-text button {
        padding: 1rem 1.5rem;
    }

    /* EXTENSIONS */
    div.extensions-description p {
        margin: 1rem;
    }

    /* FAQS */
    section.faqs {
        padding: 10rem 2rem;
    }

    button.btn-accordion,
    p.content-accordion {
        font-size: .85rem;
    }

    /* SUBSCRIBE */

    section.subscribe {
        padding: 3rem 1rem;
    }

    section.subscribe h2 {
        font-size: 1.75rem;
    }

    section.subscribe div.email-container {
        margin-right: 0;
        margin-bottom: .25rem;
    }

    section.subscribe button {
        min-width: 300px;
    }

    /* FOOTER */

    footer {
        align-items: center;
        gap: 3rem;
    }

    footer,
    footer div:first-child {
        flex-direction: column;
    }

}