$primary-cyan: #2BD0D0;
$secondary-dark-violet: #3A3054;
$red-error: hsl(0, 87%, 67%);
$gray: hsl(0, 0%, 75%);
$grayish-violet: #9E9AA8;
$very-dark-blue: #34313D;
$very-dark-violet: hsl(260, 8%, 14%);
$white: #FFF;
$almost-white: #EFF1F7;
$footer-bg: #232127;
$footer-txt-color: #BFBFBF;