//Primary
$p-soft-red: hsl(7, 99%, 70%);
$p-yellow: hsl(51, 100%, 49%);
$p-dark-desaturated-cyan: hsl(167, 40%, 24%);
$p-dark-blue: hsl(198, 62%, 26%);
$p-dark-moderate-cyan: hsl(168, 47%, 59%);

//Neutral
$n-very-dark-desaturated-blue: hsl(212, 27%, 19%);
$n-very-dark-grayish-blue: hsl(213, 9%, 39%);
$n-dark-grayish-blue: hsl(232, 10%, 55%);
$n-grayish-blue: hsl(210, 4%, 67%);
$n-white: hsl(0, 0%, 100%);

//font size
$font-size: 18px;